# Ignore these files and folders when doing: git push master.
data/input/OY/
data/input/YFull
data/output

jobs/
benchmarking/

Jupyter_Vignette/data/output
Jupyter_Vignette/figures
Jupyter_Vignette/bin

