# Ignore these files and folders when doing: git push master.
data/input/YBrowse_snps_hg38-runtime.csv
data/input/OYhaps.db
data/input/OYchpar.csv
data/output/

jobs/
benchmarking/

Jupyter_Vignette/data/output
Jupyter_Vignette/figures
Jupyter_Vignette/bin

